* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

// @for $i from 1 through 100{
//     .class-#{$i}{
//             display: inline-block;
//             font-size: 10px + $i;
//     }
// }
html{
    direction: rtl;
}

$main-color: #eee;

div {
    color: $main-color;
}